@font-face {
    font-family: 'open-sans-hebrew'; 
    src: url(../fonts/open-sans-hebrew/OpenSansHebrew-Regular.ttf); 
}

body{
    background-color: rgba(250,250,250, 255);
    font-family: 'open-sans-hebrew';
}

.header {
    height: 210px;
    background: rgba(19,132,160,1);
    position: fixed;
    width: 100vw;
}

.gradient-part {
    width: 425px;
    height: 50vh;
    position: absolute;
    left: 25%;
    bottom: 0;
}

.header-gradient {
    background: rgba(25,177,194,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(25,177,194,1) 0%, rgba(19,132,160,1) 62%, rgba(19,132,160,1) 66%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(25,177,194,1)), color-stop(62%, rgba(19,132,160,1)), color-stop(66%, rgba(19,132,160,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(25,177,194,1) 0%, rgba(19,132,160,1) 62%, rgba(19,132,160,1) 66%);
    background: -o-radial-gradient(center, ellipse cover, rgba(25,177,194,1) 0%, rgba(19,132,160,1) 62%, rgba(19,132,160,1) 66%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(25,177,194,1) 0%, rgba(19,132,160,1) 62%, rgba(19,132,160,1) 66%);
    background: radial-gradient(ellipse at center, rgba(25,177,194,1) 0%, rgba(19,132,160,1) 62%, rgba(19,132,160,1) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b1c2', endColorstr='#1384a0', GradientType=1 );
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 45px);
    height: 4rem;
}

.popup {
    width: 380px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 160px);
    -webkit-box-shadow: 2px -4px 78px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px -4px 78px -2px rgba(0,0,0,0.25);
    box-shadow: 2px -4px 78px -2px rgba(0,0,0,0.25);
}

.screen-title{
    padding: 25px;
    font-size: 20px;
}

.form{
    margin-top: 15px;
    direction: rtl;
    text-align: right;
}

.form label, .form .label{
    font-size: 13px;
    padding: 0;
    margin-bottom: .3rem;
}

.form .row{
    margin-bottom: 15px;
}

.form input:focus{
    border-color: rgba(250,180,66,255);
    box-shadow: none;
}

.form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
}
.form input::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
}
.form input:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
}
.form input:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}


.center{
    text-align: center;
}

.underline{
    text-decoration: underline !important;
}

.btn-submit{
    background-color: rgba(250,180,66,255);
    width: 100%;
}

.checkbox{
    background-color: rgba(250,180,66,255);
    color: white;
    font-size: 10px;
    padding: 2px;
    vertical-align: text-top;
}


@media only screen and (max-width: 600px) {
    .gradient-part{
        left: -50%;
    }
    .logo{
        transform: translate(-50%, 20px);
    }
    .popup{
        width: 90vw;
        transform: translate(-50%, 100px);
    }

    .header{
        height: 130px;
    }
    
    .col-sm-6:last-child{
        margin-top: 15px;
    }
}
